.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoints-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    background-image: url("./images/bg-intro-mobile.svg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoints-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoints-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoints-up(large) {
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
        content: "";
        position: absolute;
        background-image: url("./images/bg-intro-desktop.svg");
        height: 100%;
        //background-size: 93%;
        background-repeat: no-repeat;
      }
    }

    &::after {
      @include breakpoints-up(medium) {
        background-size: 52%;
      }
      //border: 1px solid magenta;
      content: "";
      background-image: url(./images/image-mockups.png);
      height: 100%;
      width: 100%;
      position: absolute;
      background-position: center bottom;
      background-size: 93%;
      background-repeat: no-repeat;

      @include breakpoints-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoints-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    a {
      margin-bottom: 2.25rem;
    }
  }
}
